@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto';
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}
body {
    margin: 0;
    font-family: sans-serif;
}

.top {
    position: fixed;
    top: 0;
    height:64px;
    width: 100%;
    background-color: #fff;
}

.top--scrolling {
    background-color: rgba(22, 22, 22, 0.85);
    transition: background-color .4s;
}

.top--open {
    background-color: rgba(22, 22, 22, 0.85);
    transition: background-color .4s;
}

.navbar {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 12px;
    height: 64px;
    padding: 0 15px;
}

.navbar_menu .active {
    color: #000;
    text-decoration: underline;
}


.item {
    color: #6A6A6A;
    text-decoration: none;
    line-height: 64px;
}

.navbar_menu{
    background-color: transparent;
    opacity: 0;
    transition: background-color 0s;
    margin-right: auto;
}

@media (min-width: 600px) {
    .navbar_menu {
        opacity: 1;
        display: flex;
        flex-direction: row;
        position: relative;
        top: auto;
        
    }
    .navbar_menu .lien {
        margin-right: auto;
        margin-left: 24px;
        float: left;
    }

    .mon_wallet {
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
        background-color: #FFD97D;
        line-height: 29px;
        height: 29px;
        width: 82px;
        text-align: center;
        border-radius: 5px;
        color: #000;
        transition: background 300ms;
    }

    .mon_wallet:hover{
        background: #ffe5a7;
        transition: background 300ms;
        cursor: pointer;
    }

    .navbar_menu .lien:last-child {
        margin-right: 0;
    }

    .navbar_menu--active {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: auto;
        height: auto;
        background: transparent;
    }

    .hamburger {
        display: none;
        padding: 5px auto;
    }
}

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.informations {
    margin-top: 64px;
    padding-top: 44px;
    padding-bottom: 44px;
    width: 100%;
    background-color: #FAFAFA;
}

.informations .details {
    height: 72px;
    margin-left: 32px;
}
.informations .details img {
    font-size: 16px;
    float: left;
    border-radius: 50px;
}
.informations .more_details {
    font-size: 16px;
    margin-left: 14px;
    display: inline-block;
}

.informations .more_details h1 {
    font-size: 16px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    font-style: normal;
}

.informations .sous_details {
    margin-top: 4px;
}
.informations .sous_details .coordonnes {
    display: inline-block;
    margin-right: 24px;
}
.informations .sous_details .coordonnes h2 {
    color: #6D6D6D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.informations .sous_details .coordonnes p {
    color: #000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.flex-container {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.flex-items {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.content .crypto {
    width: 650px;
    height: 496px;
    margin-left: 32px;
}

.content .notification {
    width: 374px;
    height: 496px;
    background-color: #FAFAFA;
    border-radius: 10px;
}

.content .mon_solde h1 {
    color: #000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;  
}

.content .mon_solde span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000;
}
.notification h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}
.notification .notification_recu {
    transform: scale(1);
    transition: transform 300ms;
}
.notification .notification_recu a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-align: left;
    text-decoration: none;
    transition: color 300ms;
}

.notification .notification_recu a:hover {
    color: #6D6D6D;
    transition: color 300ms;
}
.notification .notification_recu:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}
.notification .notification_recu {
    margin-bottom: 12px;
    margin-left: 16px;
}

.tableau_crypto {
    display: block;
    margin-top: 24px;
    width: 100%;
}
.tableau_crypto h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.tableau_crypto h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    color: #6D6D6D;

}
.tableau_crypto .nom h1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.tableau_crypto .nom h2 {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.tableau_crypto .perte {
    color: red;
}

.tableau_crypto .gain {
    color: green;
}

.tableau_crypto a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #D3B467;

    text-decoration: none;
    display: inline-block;
}

.tableau_crypto img {
    width: 32px;
    display: inline-block;
}

.tableau_crypto table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.tableau_crypto table caption {
    font-size: 55px;
    font-weight:700;
    color:#00000090;
    padding: 15px;
}

.tableau_crypto table tr {
    padding: 2px;
}
.tableau_crypto .thead{
    margin-top: 24px;
    color:#000;
}

.tableau_crypto table th,
.tableau_crypto table td {
    padding: 4px;
    text-align: center;
}

.tableau_crypto table th {
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: capitalize;
}

.tableau_crypto .nom {
    display: flex;
}
.tableau_crypto tbody tr {
    transform: scale(1);
    transition: transform 300ms;
}
.tableau_crypto tbody td {
    margin-bottom: 7px;
}
.tableau_crypto tbody tr:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 300ms;
}

.discord {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background: #EFEFEF;
    margin-top: 24px;
}

.discord .acces-discord{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.discord .gauche img {
    margin-top: 44px;
    margin-bottom: 65px;
    margin-left: 50px;
}

.discord .gauche{
    width: 263px;
}

.discord .droite {
    position: relative;
    width:648px;
    margin-top: 73px;
    margin-left: 113px;
}
.discord .margin {
    border-top: #000 solid 1px;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 26px;
}

.discord .droite h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.discord .droite h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

.discord .droite p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #000000;
}

.discord a.bouton {
    background: #FFD97D;
    border-radius: 10px;
    padding: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-top: 42px;
    transition: background 300ms;
}

.discord a.bouton:hover {
    background: #ffe5a7;
    transition: background 300ms;
    cursor: pointer;
}

.discord div.bouton {
    margin-top: 57px;
    position: relative;
    display: block;
}

footer {
    height: 207px;
}
.footer-menu{
    background-color: rgba(0, 0, 0, 0.8);
    height: 128px;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.3) solid 1px;
}

.footer-menu .total-haut-footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.footer-menu .gauche img {
    width: 128px;
}

.footer-menu .gauche{
    width: 128px;
}

.footer-menu .droite {
    position: relative;
    width:859px;
    margin-top: 50px;
    margin-left: 37px;

}

.footer-menu .droite .menu {
    margin-left: 69px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    top: auto;
}

.footer-menu .droite .menu li {
    margin-left: 32px;
    float: left;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: right;
    transition: color 300ms;
}

.footer-menu .droite .menu li:hover {
    color: #A7A7A7;
    cursor: pointer;
    transition: color 300ms;
}





.bas-footer{
    background-color: rgba(0, 0, 0, 0.8);
    height: 80px;
    width: 100%;
}

.bas-footer .total-bas-footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}


.bas-footer .gauche{
    height: 48px;
    width: 316px;
    margin-top: 16px;
}
.bas-footer .gauche h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.bas-footer .gauche p{
    margin-top: 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

.bas-footer .droite {
    position: relative;
    width: 164px;
    margin-top: 24px;
    margin-left: 512px;

}

.bas-footer .droite .menu {
    opacity: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    top: auto;
}

.bas-footer .droite .menu li {
    margin-right: auto;
    margin-left: 32px;
    float: left;
    text-decoration: none;
    list-style-type: none;
    height: 32px;
    transition: color 300ms;
}

.bas-footer .droite .menu a {
    text-decoration: none;
    color: #FFFFFF;
}
.bas-footer .droite .menu li i {
    font-size: 32px;
}

.bas-footer .droite .menu a:hover {
    color: #A7A7A7;
    cursor: pointer;
    transition: color 300ms;
}




.energie_content .zone {
    background: #FAFAFA;
    border-radius: 10px;
    width: 100%;
    height: 800px;
    margin-top: 144px;
    margin-bottom: 80px;
    position: relative;
}